<%- include('adminHeader.ejs') -%>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 roleMain">
        <div class="studentTitle d-flex w-100 justify-content-between mb-5">
            <h2>Exam</h2>
            <a href="/"><button type="button" class="btn btn-dark">Dark</button></a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>srno</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Semester</th>
                        <th>Header</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </main>
    <%- include('adminFooter.ejs') -%>